<%- include('../partials/header') %>
<div class="container">
	<header class="jumbotron"> 
		<h1>
		Welcome to YelpCamp!!!
		</h1>
		<p>
		Have A Look At These Gorgeous Campsites	
		</p>
		<a href="/campgrounds/new" class="btn btn-primary btn-large" 					>Add Campgrounds</a>
	</header>

	<div class="row text-center" style="display; flex-wrap:wrap">
		<% campgrounds.forEach(function(campground){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
			 <img src="<%= campground.image %>">
			</div>
			<div class="caption">
			 <h4><%= campground.name %></h4>
			</div>
			<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info!!</a>
		</div>
		<% }); %>
	</div>
</div>
<%- include('../partials/footer') %>

